<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <!-- <div v-for="number in numbers">
        <p v-if="number % 2 == 0">{{number}}</p>
      </div> -->
      <!-- <p><span v-for="(character, index) in characters">{{character.name}}{{characters.length - 1 === index ? "" : ", "}}</span></p> -->
      <label for="avatar">Add character</label>
      <input 
        id="avatar"
        type="text"
        v-model="characterName" 
      />
      <button @click="addCharacter">Add to characters</button>

      <ul>
        <li v-for="character in characters">{{character.name}}
          <button @click="addToFavorite(character)">Add to favorite</button>
        </li>
      </ul>

      <div>
        <p v-if="favorites.length === 0">No favorites</p>
        <div v-else>
          <p>Favorites list</p>
          <p v-for="character in favorites">{{character}}</p>
        </div>

        <pre>{{powerStatistics}}</pre>
      </div>

    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const {createApp} = Vue
      const app = createApp({
        data: () => ({
          numbers: [2,3,4,5,6,7,8,9,10],
          characterName: "",
          characters: [{
            name: "Aang", powers: ["Water","Air", "Fire","Earth"]
          },{
            name: "Zuko", powers: ["Water", "Fire"]
          },{
            name: "Toph", powers: ["Air", "Earth"]
          },
          {
            name: "FireLord", powers: ["Fire", "Air", "Water"]
          },
          {
            name: "Groot", powers: ["Earth", "Water"]
          },
          {
            name: "Misc", powers: ["Earth", "Air"]
          },
          {
            name: "Mouse", powers: ["Earth", "Fire"]
          },
        ],
          favorites: []
        }),
        methods: {
          addToFavorite(character){
            this.favorites.push(character.name)
          },
          addCharacter() {
            if (this.characterName === ""){
              return
            }
            this.characters.push({name: this.characterName})
            this.characterName = ""
          }
        },
        computed: {
          powerStatistics() {
            const powerList = ["Air", "Water", "Fire", "Earth"]
            const stats = {
              Air: 0,
              Water: 0,
              Fire: 0,
              Earth: 0
            }

            this.characters.forEach(character => {
              powerList.forEach(power => {
               if (character.powers.indexOf(power) > -1){
                  stats[power] += 1
               }
              })
            })
            return stats
          }
        }
      })

      app.mount("#app")
    </script>
  </body>
</html>
